Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
# (i) string
my_string = "Hello, World!"

In [4]:
# (ii) list
my_list = [1, 2, 3, 4, 5]

In [16]:
# (iii) float
my_float = 3.14

In [6]:
# (iv) tuple
my_tuple = (6, 7, 8, 9, 10)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [9]:
var1 = ""
type(var1)

str

In [11]:
var2 = "[ DS , ML , Python]"
type(var2)

str

In [13]:
var3 = [ "DS" , "ML" , "Python" ]
type(var3)

list

In [15]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [17]:
#(i) / (Division Operator): The division operator is used to divide one number by another.
a = 10
b = 3
result = a / b
print(result)

3.3333333333333335

In [18]:
#(ii) % (Modulus Operator): The modulus operator calculates the remainder when one number is divided by another.
a = 10
b = 3
result = a % b
print(result)

1

In [19]:
#(iii) // (Floor Division Operator): The floor division operator performs division and rounds the result down to the nearest whole number.
a = 10
b = 3
result = a // b
print(result)

3

In [20]:
#(iv) ** (Exponentiation Operator): The exponentiation operator raises a number to the power of another number.
a = 2
b = 3
result = a ** b
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
my_list = [1, 'apple', 3.14, True, [1, 2, 3], {'name': 'John', 'age': 25}, (4, 5, 6), None, 'banana', False]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 1, Data Type: <class 'int'>
Element: apple, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'John', 'age': 25}, Data Type: <class 'dict'>
Element: (4, 5, 6), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: banana, Data Type: <class 'str'>
Element: False, Data Type: <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [22]:
A = 20
B = 4

count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"A is divisible by B, and it can be divided {count} times.")
else:
    print("A is not divisible by B.")

A is divisible by B, and it can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [25]:
my_list = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.
26 is not divisible by 3.
27 is divisible by 3.
28 is not divisible by 3.
29 is not divisible by 3.
30 is divisible by 3.
31 is not divisible by 3.
32 is not divisible by 3.
33 is divisible by 3.
34 is not divisible by 3.
35 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [26]:
#Immutable data types are those whose values cannot be modified once they are assigned. When an immutable object is altered, 
#a new object is created with the modified value. Examples of immutable data types in Python include:
message = "Hello"
print(message)  # Output: Hello

message = message + ", World!"
print(message)  # Output: Hello, World!

#In this example, the concatenation operation message = message + ", World!" 
#creates a new string object with the modified value, and message is assigned to the new object. 
#The original string "Hello" remains unchanged.

Hello
Hello, World!

In [27]:
#On the other hand, mutable data typesare those whose values can be modified after they are assigned. 
#Changes made to mutable objects directly affect the original object. Examples of mutable data types in Python include:
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

#In this example, the append() method modifies the original list by adding an element to it. 
#The changes are reflected in the same object my_list.

[1, 2, 3]
[1, 2, 3, 4]